<div class="container">
    <span data-us-spinner="{radius:30, width:8, length: 16}"></span>
    <form data-ng-submit="submit()">
        <h1>introduce os datos da pantalla</h1>
        <div class="form-group" data-ng-show="!isAdmin()">
            <label for="code">código</label>
            <span class="label label-danger" data-ng-show="model.errorCode">{{model.errorCode}}</span>
            <input type="text" class="form-control" id="code" data-ng-model="model.code" placeholder="código que se amosa na pantalla" data-ng-required="!isAdmin()">
        </div>
        <div class="form-group">
            <label for="name">nombre</label>
            <span class="label label-danger" data-ng-show="model.errorName">{{model.errorName}}</span>
            <input type="text" class="form-control" id="name" data-ng-model="model.name" placeholder="dalle un nome a esta pantalla">
        </div>
        <button type="submit" class="btn btn-success btn-block">enviar</button>
    </form>
</div>