<style>
.imtpl{
	 border:3px solid black;border-radius:8px;width:100%;margin-top:15px;margin-bottom:20px;
	}
.classtpl{
	 margin-right:20px;width:90%;
	}
</style>
<div class="container">
<h1>Plantillas</h1>
<button data-toggle="collapse" data-target="#tipoletra" class="btn btn-info col-xs-12" style="padding:10px;margin:15px;width:90%"><span class ="glyphicon glyphicon-sort-by-attributes"> </span> tipos de letra</button><br />
         <div id="tipoletra" class="collapse">
	<div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Baloo Tamma'; width:100%" onclick="chatenv('goSend','font','Baloo Tamma','Baloo Tamma', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
    <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Oswald'; width:100%" onclick="chatenv('goSend','font','Oswald','Oswald', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
    <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Lato'; width:100%" onclick="chatenv('goSend','font','Lato','Lato', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
     <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Indie Flower'; width:100%" onclick="chatenv('goSend','font','Indie Flower','Indie Flower', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
     <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Lobster'; width:100%" onclick="chatenv('goSend','font','Lobster','Lobster', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
     <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Fascinate Inline'; width:100%" onclick="chatenv('goSend','font','Fascinate Inline','Fascinate Inline', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
     <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Josefin Sans'; width:100%" onclick="chatenv('goSend','font','Josefin Sans','Josefin Sans', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
     <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Sigmar One'; width:100%" onclick="chatenv('goSend','font','Sigmar One','Sigmar One', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div> <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Shadows Into Light'; width:100%" onclick="chatenv('goSend','font','Shadows Into Light','Shadows Into Light', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div> <div class="thumbnail btn btn-info sendalbum prog col-xs-4" style="font-family:'Orbitron'; width:100%" onclick="chatenv('goSend','font','Orbitron','Orbitron', '1001')">
	<span style="font-size:20px;color:#000">Sigue a 1 o 2 murciélagos</span>
	</div>
</div>
<button data-toggle="collapse" data-target="#fondos" class="btn btn-info col-xs-12" style="padding:10px;margin:15px;width:90%"><span class ="glyphicon glyphicon-sort-by-attributes"> </span> Fondos</button><br />
         <div id="fondos" class="collapse">
<div class="col-xs-5" style="background-color:background-color:#6CF;background:linear-gradient(to bottom right, #6CF, #FFF);margin-right:20px;height:100px" onclick="chatenv('goSend2','fondo','#6CF#FFF','#FFF', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#6CF;background:linear-gradient(to bottom right, #6CF, #000);height:100px" onclick="chatenv('goSend2','fondo','#6CF#000','#000', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#F00;background:linear-gradient(to bottom right, #F00, #FFF);margin-right:20px;height:100px" onclick="chatenv('goSend2','fondo','#F00#FFF','#FFF', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#F00;background:linear-gradient(to bottom right, #F00, #000);height:100px" onclick="chatenv('goSend2','fondo','#F00#000','#000', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#CCC;background:linear-gradient(to bottom right, #CCC, #000);margin-right:20px;height:100px" onclick="chatenv('goSend2','fondo','#CCC#000','#FFF', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#000;background:linear-gradient(to bottom right, #000, #FFF);height:100px" onclick="chatenv('goSend2','fondo','#000#FFF','#000', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#CCC;background:linear-gradient(to bottom right, #CCC, #CCC);margin-right:20px;height:100px" onclick="chatenv('goSend2','fondo','#CCC#CCC','#FFF', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#000;background:linear-gradient(to bottom right, #000, #000);height:100px" onclick="chatenv('goSend2','fondo','#000#000','#000', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#3ea745;background:linear-gradient(to bottom right, #3ea745, #FFF);margin-right:20px;height:100px" onclick="chatenv('goSend2','fondo','#3ea745#FFF','green', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#3ea745;background:linear-gradient(to bottom right, #3ea745, #000);height:100px" onclick="chatenv('goSend2','fondo','#3ea745#000','green', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#fae100;background:linear-gradient(to bottom right, #fae100, #FFF);margin-right:20px;height:100px" onclick="chatenv('goSend2','fondo','#fae100#FFF','green', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#fae100;background:linear-gradient(to bottom right, #fae100, #000);height:100px" onclick="chatenv('goSend2','fondo','#fae100#000','green', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#e053aa;background:linear-gradient(to bottom right, #e053aa, #FFF);margin-right:20px;height:100px" onclick="chatenv('goSend2','fondo','#e053aa#FFF','green', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    <div class="col-xs-5" style="background-color:background-color:#e053aa;background:linear-gradient(to bottom right, #e053aa, #000);height:100px" onclick="chatenv('goSend2','fondo','#e053aa#000','green', '1001')">
	Sigue a 1 o 2 murciélagos
	</div>
    </div>
    <button data-toggle="collapse" data-target="#templates" class="btn btn-info col-xs-12" style="padding:10px;margin:15px;width:90%"><span class ="glyphicon glyphicon-sort-by-attributes"> </span> Plantillas</button><br />
<div id="templates" class="collapse">
	<div class="col-xs-12 classtpl"><hr />
	Plantilla Gramola:
    <img onclick="chatenv('goSend3','tpl',2,2, '1002')" src="img/tplgram.png" class='imtpl'/>
     <button class="btn btn-info" onClick="chatenv('goSend3','tpl',2,2, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',2,'Gramola', 1002);" id="los40"  style="margin:3px"><i class="fa" style="float:left"></i>Programar esta plantilla 
            </button>
    </div>
    
    <div class="col-xs-12 classtpl" style="margin-right:20px;width:90%"> <hr />
	Plantilla full album:
    <img onclick="chatenv('goSend3','tpl',1,1, '1002')" src="img/tplfull.png" class='imtpl'/><br /><br />
   elige canal de radio para ambientar tus álbumes<br /><br />
    		<button class="btn btn-info" onClick="chatenv('goSend4','radio','//208.92.53.88/LOS40_SC','Los40', 1004);" id="los40"  style="float:left; margin:3px">
    		<i class="fa" style="float:left"></i>Los 40 
            </button>
            <button class="btn btn-info" onClick="chatenv('goSend4','radio','//63.243.149.3-443/MAXIMAFM_SC','Los40', 1004);" id="los40"  style="float:left; margin:3px">
    		<i class="fa" style="float:left"></i>Máxima 
            </button>
    <div style="clear:both"></div>
     <button class="btn btn-info" onClick="chatenv('goSend3','tpl',1,1, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',1,'full', 1002);" style="float:left; margin:3px">
    		<i class="fa" style="float:left"></i>Programar esta plantilla 
            </button>
            </div>
    <div class="col-xs-12 classtpl" style="margin-right:20px;width:90%"><hr />
	Plantilla full YouTV:
    <img onclick="chatenv('goSend3','tpl',3,3, '1002')" src="img/youtube.png" class='imtpl'/>
    <br />
      <button class="btn btn-info" onClick="chatenv('goSend3','tpl',3,3, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',3,'fullYout', 1002);" style="margin:3px">
   <i class="fa" style="float:left"></i>Programar esta plantilla 
            </button>
    </div>
     <div class="col-xs-12 classtpl"><hr />
	Twitter Text width -Cuadro imágenes horizontal:
    <img onclick="chatenv('goSend3','tpl',8,8, '1002')" src="img/tpl8.png" class='imtpl'/><br />
     <button class="btn btn-info" onClick="chatenv('goSend3','tpl',8,8, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',8,'Owner', 1002);" id="los40"  style="margin:3px"><i class="fa fa-clock" style="float:left"></i>Programar esta plantilla 
            </button>
            <button class="btn btn-info btn-block thumbnail" data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-cloud-upload"></i> Configurar Twitter
            </button>
    </div>
    <div class="col-xs-12 classtpl"><hr />
	Twitter Text -Cuadro imágenes vertical:
    <img onclick="chatenv('goSend3','tpl',5,5, '1002')" src="img/tpl5.png" class='imtpl'/><br />
     <button class="btn btn-info" onClick="chatenv('goSend3','tpl',5,5, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',5,'Owner', 1002);" id="los40"  style="margin:3px"><i class="fa fa-clock" style="float:left"></i>Programar esta plantilla 
            </button>
            <button class="btn btn-info btn-block thumbnail" data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-cloud-upload"></i> Configurar Twitter
            </button>
    </div>
     <div class="col-xs-12 classtpl"><hr />
	Playing info:
    <img onclick="chatenv('goSend3','tpl',6,6, '1002')" src="img/tplinfo.png" class='imtpl'/>
    Plantilla con hueco de imágenes en vertical e info de los vídeos que están saliendo
      <button class="btn btn-info" onClick="chatenv('goSend3','tpl',6,6, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',6,'Owner', 1002);" id="los40"  style="margin:3px"><i class="fa" style="float:left"></i>Programar esta plantilla 
            </button>
    </div>
    <div class="col-xs-12 classtpl"><hr />
	Playing info 16:9:
    <img onclick="chatenv('goSend3','tpl',7,7, '1002')" src="img/tplinfog.png" class='imtpl'/>
    Plantilla con hueco de imágenes en horizontal e info de los vídeos que están saliendo
      <button class="btn btn-info" onClick="chatenv('goSend3','tpl',7,7, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',7,'Owner', 1002);" id="los40"  style="margin:3px"><i class="fa" style="float:left"></i>Programar esta plantilla 
            </button>
    </div>
    <div class="col-xs-12 classtpl"><hr />
	Mi plantilla personalizada:
    <img onclick="chatenv('goSend3','tpl',4,4, '1002')" src="img/tplgram.png" class='imtpl'/>
      <button class="btn btn-info" onClick="chatenv('goSend3','tpl',4,4, '1002');" id="los40"  style="margin:3px"><i class="fa fa-eye" style="float:left"></i>Poner esta plantilla 
            </button>
   <button class="btn btn-info" onClick="chatenv('goProg1','tpl',4,'Owner', 1002);" id="los40"  style="margin:3px"><i class="fa" style="float:left"></i>Programar esta plantilla 
            </button>
    </div>
   
</div>
</div>
<div class="modal fade ng-scope" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabeldesasoc" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Elige twitter</h4>
      </div>
      <div class="modal-body ng-binding" id="mod-body">
      <h4>Escribe sólo la palabra, sin # ni @</h4>
      <input type="text" id="palabra" />
        <h4>Elige si quieres poner los tuits de:</h4>
        Un hashtag <input type="radio" name="opt" value="hashtag" id="opt" selected>
        Una mención <input type="radio" name="opt" value="mencion" id="opt">
        Una cuenta <input type="radio" name="opt" value="cuenta" id="opt">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal">cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="makeTwitter()">ok</button>
      </div>
    </div>
  </div>
</div>
<a style="display:none" data-ng-href="album/1001/send" id="goSend"></a>
<a style="display:none" data-ng-href="album/1003/send" id="goSend2"></a>
<a style="display:none" data-ng-href="album/1002/send" id="goSend3"></a>
<a style="display:none" data-ng-href="album/1004/send" id="goSend4"></a>
<a style="display:none" data-ng-href="programming/new" id="goProg1"></a>
<script>
function makeTwitter(){
	$('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
	var Radio = $('input[name=opt]');
	var checkedValue = Radio.filter(':checked').val();
	var palabra = $('#palabra').val();
	palabra=palabra.replace('@', '');
	palabra=palabra.replace('#', '');
	if (!palabra || palabra ==''){
		return alert('debes elegir una palabra');
		}
	chatenv('goSend4','twitter' ,palabra+'--'+checkedValue ,checkedValue ,1004);
	//alert('goSend4 - twitter'+ palabra+ '-' +checkedValue+ '-' + 1004);
}
</script>